<div class='container mt-sm question-container-empty'>
  <h2 class='title-lg'>
    Пока ни одного вопроса
  </h2>
</div>
<div class='container mt-sm question-container-empty'>
  <p>
    <%= link_to 'Станьте', new_question_path(user_id: user.id) %> первым!
  </p>
</div>
